[2020-03-30 12:53] TonDekker opened #9 "When building an Ionic solution, the android build fails stating it has duplicate classes"
Hi,

I've tried to integrate your plugin in a small test project, and when creating an android build it fails with the following message:

`* What went wrong:
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'. > com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:
 Program type already present: com.nimbusds.jose.AlgorithmFamily

[2020-03-31 18:44] wrobins commented on #9
Hello!

I bet your issue is that my initial release had a statically compiled .jar version of com.jimbusds.jose.jwt which it was told to build in Gradle. I suggest trying to pull the latest version of this plugin which I released today @2.0.0 and see if it fixes your issue, since it has no binary blob dependencies.

One issue you may encounter, depending on your version of cordova and cordova-andr

[2020-04-01 12:56] wrobins opened #11 "Remove Precompiled iOS Binary"
Make the iOS MSAL framework pull from cocoapods or carthage.

[2020-04-01 14:46] wrobins opened #12 "Add Browser Platform Support"
Plugin should support usage in a web app, too.

[2020-04-02 00:47] harishreddypothula1993 opened #13 "Redirect back to app not working"
Hello,
I am running my application locally and testing it on a emulator.
I am running into an issue where after the authentication I am not able to redirect back to my application.
I have added `http://localhost` to replyURL's on the azure portal.
Your quick response would be much appreciated .
Thanks

[2020-04-02 12:22] TonDekker commented on #9
Thanks for the update. Android build succeeds (after adding the plugins you mentioned).

Now let's see if Ican get it to work :D

[2020-04-02 12:22] #9 closed, assigned to wrobins

[2020-04-02 14:06] egrendonDev commented on #13
To add additional information to the issue @harishreddypothula1993 is trying to solve.

1) This is an Ionic 4 with Angular 8.
2) The Android Emulator to -> Azure AD login works fine

         -  (login on MS is successful)

3) Azure AD Redirect back to Android Emulator is not working.

Error that is shown by the Azure AD

The AzureAD instance has the following reply urls in attempt to redirect fro

[2020-04-02 16:11] wrobins commented on #13
Hello and thanks for your questions!

To do your callback to android, you only need to add one URL to your reply URLs and it's a little bit different from your localhost URLs. I'll show you three ways to do this to get the same result, and for all three I'm going to give you two placeholders to fill in. One is your app's package name of com.whatever.whatever. The second is that android key hash th

[2020-04-02 21:23] harishreddypothula1993 commented on #13
That helped thanks

[2020-04-03 03:15] egrendonDev commented on #13
@wrobins - Perfect thats what we needed option 1 worked for us.

[2020-04-14 20:02] harishreddypothula1993 commented on #13
Hello Wrobins,

When we are doing login, it initially takes us to Microsoft Login page after providing email and click next button taking us to Organization(tenant) login page and then authenticates, we want to go to Organization(tenant) login page as the user clicks login, do we need to add anything in specific to make this happen on the config?

[2020-04-14 21:04] wrobins commented on #13
Hello! When you call msalInit() and pass in your options object, in your authorities array, specify your default authority as something like
[code]
The audience by default is 'AzureADandPersonalMicrosoftAccount' which doesn't redirect people to a tenant's org page until it sees they have an org account. If you want to support outside accounts too, you could maybe try something like:
[code]

Let me

[2020-04-15 17:37] harishreddypothula1993 commented on #13
Hi WRobins,

we have the same config , but we are still seeing the same behaviour of navigating to Microsoft and then to Tenant login.
authorities: [
    {
        type: 'AAD',
        audience: 'AzureADMyOrg',
        authorityUrl: '',
        cloudInstance: 'MSALAzurePublicCloudInstance',
        default: true
    }
]

[2020-04-15 17:52] wrobins commented on #13
Hmm, have you passed your TENANT_ID variable when you installed the plugin? If not, make sure you supplied it. If you already did, another thing to try is setting brokerRedirectUri to true in your msalInit options.

[2020-04-15 22:39] kayRP opened #14 "Signout closing the app"
Hello,

 I am using your plugin for application signIn on  android devices for a single account, I am facing an issue where as soon as I hit logout it is closing my app, here is my code for logout.

public logout(): void {
        const isMsalPluginAvailable = typeof (cordova.plugins.msalPlugin) !== 'undefined';
        if (isMsalPluginAvailable) { // true
            this.msalPlugin.signOut( // a

[2020-04-17 19:22] wrobins commented on #14
Hello! This is probably because of an unhandled exception in the native code, which I try to avoid (it should just print out an error), but I must have missed some point where an exception could be triggered. If you're able, could you run your application in debug mode in Android Studio and see if there's an error+stacktrace printed in the console? If so, please paste it here.

Thanks and sorry yo

[2020-04-17 19:33] harishreddypothula1993 commented on #13
Yes, I did passed the TENANT_ID variable while installing the plugin. But still it doesn't solve our problem, if i change the brokerRedirectUri to true as soon as I open the app it  closes the app and I see app stopped working error

[2020-04-20 13:26] wrobins commented on #13
Hello! There's one more thing I can think of to check: back in your Azure portal, in your manifest, there is probably a JSON property near the bottom that is set by default to
[code]
If it's still set to that, change the value to "AzureADMyOrg" and see if that fixes it for you.

[2020-04-20 21:32] kayRP commented on #14
I run my application in debug mode but I don't see any error message printed, but when I put a breakpoint using `chrome://inspect/#devices` on chrome browser to debug remote devices, I see the behaviour where it gets closed.
if (isMsalPluginAvailable) { // true
this.msalPlugin.signOut( **// after this step it is closing the app.**
(success) => {**// expected this step to be called**
console.log('*

[2020-04-22 10:48] hugoplatell commented on #14
Hello, we're are having the same issues with the logout flow on Android.

The error stacktrace is as follows:
`                  Process: appid, PID: 20460
                  java.lang.NullPointerException: Attempt to invoke interface method 'com.microsoft.identity.client.IAccount com.microsoft.identity.client.IMultipleAccountPublicClientApplication.getAccount(java.lang.String)' on a null object re

[2020-04-24 15:30] harishreddypothula1993 commented on #13
Hello, we have no luck doing all the changes suggested by you, just to give you a clarification we had the same problem on desktop as well , we solved it by passing
 extraQueryParameters: {domain_hint: tenant_id};
is there a way we can send the domain_hint with this plugin?

[2020-04-27 12:13] #14 closed, assigned to nobody

[2020-04-27 12:45] wrobins commented on #13
Hello! I will look into implementing this either today or tomorrow. If I run into any issues preventing me from doing this I'll let you know, but otherwise look out for it when version 2.1.0 comes out. I'll set it to close this issue when that happens as well.

Have a good one and thanks for your research! It helps make this plugin better.

[2020-04-29 05:51] Perroquiet opened #17 "Is user_impersonation scope supported?"
Hi,

I wanted to use this plugin for our mobile app authentication  but our REST service is old and is based on a V1.0 endpoint. With that our app AD registration have the API permission ```user_impersonation``` but it is in a different resource/scope.
<img width="874" alt="Screen Shot 2020-04-29 at 1 41 14 PM" src="https://user-images.githubusercontent.com/704556/80564101-77fe5f80-8a1f-11ea-87af-

[2020-04-30 17:33] harishreddypothula1993 commented on #13
Hello, Any update on this?

[2020-05-08 20:03] wrobins commented on #13
Hi again,

I apologize for the delay in getting this next release out - my day job has been using up most of my coding brain power! XD

I just released @v2.1.0 which should give you that capability. You can read the full list of new options for calling signInInteractive() near the bottom of the README, but the short version is, you should be able to do something like this now when signing someone

[2020-05-08 20:14] wrobins commented on #17
Hello!

Have you tried prepending your API's endpoint URL before the scope (and with two slashes for some endpoinds)? For example, if you're using the Azure Resource Manager API for that scope, something like:
[code]
Or if you can get the URI ID from your Azure console and if it has one scope, you could try
[code]

Let me know if you've tried either of these options. Thanks!

[2020-05-09 21:06] harishreddypothula1993 commented on #13
Hi Wrobins,

I have upgraded the version to 2.1.0 and now my app fails with error message(**Uncaught module cordova-plugin-msal.msalPlugin already defined)** in the console.All I did was remove and re add the plugin. If I go back to 2.0.1 app works fine withe routing me to Microsoft login page first and then to my tenant.
Uploading the error message for reference .
![image](https://user-images.git

[2020-05-11 10:22] imamdev opened #19 "Using Client_ID for different szenarios (test, staging, prod)"
Hi,
thanks for your work.

In your plugin the CLIENT_ID is mandatory. Do you know a best practice to change this on runtime of Xcode-Build without removing and adding the plugin everytime with new ID?
Because I currently try to build a CI project with using schemes in Xcode, but didn't really know how to change this parameter when using & building with this plugin with less effort. So I will end u

[2020-05-11 21:10] wrobins commented on #19
Hello!
I'm not super familiar with Xcode development, so I apologize if I'm not as helpful here, but I'll try to help figure out how to do this.

Are you using any framework on top of Cordova, or is this a vanilla Cordova app that you're building?

Also, is this a project for iOS-only for both platforms?

[2020-05-13 11:10] collab-appsdev opened #20 "Sign in shows null"
on signing in, on the username field it shows "null"

![image](https://user-images.githubusercontent.com/49704178/81803798-c09f3800-954a-11ea-88e3-23dd50fb29ac.png)

also noticed that on the url for signing in there is a querystring "&login_hint=null" are we missing something in the configuration so that null will not appear?

[2020-05-13 13:53] imamdev commented on #19
Hi, sorry for the late reply. I now doing dirty tricks with hooks and now it's working. So you can close this topic. Thanks!

[2020-05-13 13:53] #19 closed, assigned to nobody

[2020-05-13 13:55] imamdev commented on #13
I have seen the same error with iOS and switching back to 2.0.1.

[2020-05-13 15:24] wrobins commented on #13
Hello,
This is an issue that unfortunately seems to crop up in all Cordova apps sometimes. I think it sometimes  duplicates imports when you upgrade plugins. Try following some of the tips from [this post](https://stackoverflow.com/questions/33429964/cordova-plugin-error-uncaught-module-already-defined/59594984#59594984) and let me know if this fixes it.

[2020-05-13 15:51] harishreddypothula1993 commented on #13
Hello,
I did try to safely remove and re add the plugin and also created a brand new application and added this plugin as recommended, but still I see the same error in both the cases.
Here is the test repo where I am trying to use this plugin
https://github.com/harishreddypothula1993/TestMsalPlugin

[2020-05-13 17:51] wrobins commented on #20
Hello!

I just released v2.1.1 of the plugin today, which should fix the issue you're experiencing. Let me know if it works for you after you update.

Cheers,

[2020-05-14 03:50] johnathon101 commented on #13
I am able to reproduce this as well under Ionic 4, Ng8. When the cordova.define wrapper is removed from the javascript adapter(msalplugin.js), the duplication error is not presented and the plugin loads fine. There is still a fatal error when the brokerRedirectUri flag is set to true and signInInteractive is called. Targeting Android@8. I will continue looking into this but wanted to update.

[2020-05-14 20:25] wrobins commented on #13
Thanks @imamdev @harishreddypothula1993 and @johnathon101 for your work and feedback identifying this! I just released v2.1.2 that fixes this. Please let me know if it is indeed fixed when you upgrade the plugin.

[2020-05-15 04:12] collab-appsdev commented on #20
Thank you!

[2020-05-15 04:12] #20 closed, assigned to nobody

[2020-05-15 04:22] collab-appsdev opened #23 "adding multiple objects in authorizationQueryStringParameters doesnot show login page"
we have added 2 objects on the authorizationQueryStringParameters, after adding those it shows only whitepage after building the app.

we added another object on the authorizationQueryStringParameters because the token we are generating before throws 401 when upon hitting our API. it seems that we need to add the resourceUri on the link generated upon login to fix the 401 issue.

we added this
aut

[2020-05-15 12:57] wrobins commented on #23
Hello!
I tried creating a test app with a fresh install in both Android and iOS, and initialized MSAL with the default configuration:

[code]
Then I called SignInInteractive with what you provided, with my own tenant ID modified for my own Azure Portal instance:
[code]
I didn't expect it to work completely given I don't have any custom resources configured, but on both Android and iOS I got the au

[2020-05-15 20:06] johnathon101 commented on #23
@collab-appsdev Remove User.Read from your default scope and set your singular scope in your msalInit function to {Enter Your AppId GUID here}/User.Read, this will give you a token that has the appid as the audience which should get rid of that 401.

[2020-05-19 11:41] johnathon101 opened #24 "Authentication fails when MS broker is installed on device"
Ionic 4/Angular project
I have had successful implementation of the MSAL login in iOS and Android up until the Microsoft Authenticator is present on the device.

In Android. as soon as the Microsoft Authenticator broker is installed on the device the plugin does not complete initialization and fails silently. Authentication works fine when the broker is not installed on the device.

In iOS, the au

[2020-05-20 13:32] hugoplatell commented on #11
While testing and releasing our app, we found multiple issues with the precompiled iOS binary. It blocks running on iOS 12, the app crashes directly after startup. Furthermore, you're not allowed to run your project in an iOS simulator...

After some investigation, I removed the precompiled library from the plugin and pulled the library directly from cocoapods. This solved for us the above mention

[2020-05-20 19:06] wrobins commented on #24
Hello! Sorry you're having issues getting the broker to work. I tried setting up a new project based on your gist and ran it against my Azure tenant and couldn't replicate it so I'm not sure exactly what may be going on. However, you may want to pull down one of the newest releases of this plugin, either 2.3.0 or 2.4.0. These allow you to debug the plugin in much greater detail using the MSAL logg

[2020-05-21 11:58] johnathon101 commented on #24
Thanks for the quick response and work on this plugin. 2.3.0 did clear up our issue in iOS. The debug information is very helpful. I have not yet got android to work but it's not really throwing an error, it just seems to not make it back to the return function on the initialization scope, here is the entirety of the log 'VERBOSE'  returns, there is never any Error logged. I am targeting AzureADMy

[2020-05-22 20:39] johnathon101 commented on #24
This ticket can be closed, I was able to find the RedirectURI error issue in Android Studio, it was just not evident in the logger with the verbose flag.

[2020-05-22 20:39] #24 closed, assigned to nobody

[2020-05-27 13:55] wrobins commented on #11
Thanks for fixing this! So far it doesn't seem like there are any immediate issues with the new iOS implementation so I'll close this. Thanks!

[2020-05-27 13:55] #11 closed, assigned to wrobins

[2020-05-31 06:50] sarathi0333 opened #35 "Can i integrate custom B2C login page?"
Hi,

I am creating a Cordova iOS app. I tried to use the below options,
[code]
Upon triggering _**signInInteractive**_ I am getting the default Microsoft login screen.

Also is there way i can give redirect URL for iOS app like _**msauth.com.bundle.mobileapp://auth**_ and the cache location as **_localstorage_** similar to the options in msal.js?

[2020-06-02 10:03] Neotrixsx opened #36 "Getting error in the time on App compilation"
I used cordova-plugin-msal in my Android Application, When I try to compile my Android application for testing on that time I get an error:

`:app:processDebugManifest UP-TO-DATE
:app:splitsDiscoveryTaskDebug UP-TO-DATE
:app:processDebugResourcesC:\Users\test\.gradle\caches\transforms-1\files-1.1\appcompat-1.0.2.aar\fc9fe9b92c142495ba79e017cf18ca94\res\values-v28\values-v28.xml:9:5-12:13: AAPT: er

[2020-06-04 12:49] wrobins commented on #35
Hello, and thanks for your questions!

Sometimes to get MSAL to redirect to your organization's login screen instead of the default Microsoft one, you need to add a domain hint to your options object which, in your case, would look something like this:

[code]

By default, in iOS, it should be redirecting you to msauth.com.bundle.mobileapp://auth as-is, but you can control whether, upon redirect,

[2020-06-04 12:53] wrobins commented on #36
Hello, and sorry for the trouble you're having.

I've never seen this issue before, but let's try to isolate it. What happens if you create a blank project in your platform (whatever it is, be it vanilla Cordova or Ionic, React, Phonegap, etc) and install only this plugin? Does the issue still occur, or does the exact error change?

[2020-06-04 14:16] sarathcts commented on #35
Hi Wrobins, Thanks for answering my question.

Where can I find the **domain_hint** and **tenant_guid**?
**domain_hint** is this the part of authority URL which I specified earlier. If that's the case, should it be `{tenant_name}.b2clogin.com` or `{tenant_name}.onmicrosoft.com`? I tried both but it still loads `login.microsoftonlline.com`
**tenant_guid**
whether `tenant_guid` and `tenant_name` are

[2020-06-04 14:19] sarathi0333 commented on #35
Hi Wrobins, Thanks for answering my question.

Where can I find the **domain_hint** and **tenant_guid**?
**domain_hint** is this the part of authority URL which I specified earlier. If that's the case, should it be `{tenant_name}.b2clogin.com` or `{tenant_name}.onmicrosoft.com`? I tried both but it still loads `login.microsoftonlline.com`
**tenant_guid**
whether `tenant_guid` and `tenant_name` are

[2020-06-04 17:41] wrobins commented on #35
Hi again,

'domain_hint' is the actual string literal to use, which is the key that you're setting in the request parameter. 'your-tenant-guid' is going to be a string in the format abc12345-abc1-1234-1234-abc123d4e56f or something similar. You can find it in your Azure portal under App Registrations>Your app as the "Application (client) ID".

[2020-06-05 18:52] johnathon101 commented on #13
This can be closed, it is fixed.

[2020-06-05 19:57] #13 closed, assigned to nobody

[2020-06-12 16:42] mahmoudchebbani opened #37 "How to integrate plugin with Angular 9 Capacitor 2.0 project ?"
I try to import the module into my typescript code however, typescript compiler is unable to find the module.

[2020-06-29 08:44] tboudri opened #38 "Please add support for windows"
Please add support for windows

[2020-06-29 17:29] #36 closed, assigned to nobody

[2020-07-02 20:03] navjotsrmtpl commented on #9
thanx it worked

[2020-07-08 17:36] Neotrixsx opened #39 "Its urgent!!. After execute signInInteractive(), the Microsoft login page takes 2 min approx to appear on the screen."
Please Help me. Its urgent!!.

After execute signInInteractive(), the Microsoft login page takes 2 min approx to appear on the screen.
but after once login completed, signInSilent() function completes its operation within 2-4 seconds and takes the user to the application home page.

Why Microsoft login page takes 2 - 3 min to appear on the screen after executing signInInteractive().

[2020-07-10 08:17] harmjonker opened #40 "how to implement?"
Hello,

I have a two implementation questions, that I ca not get clear from the documentation.
If we run the Cordova app with the plugin on an Android device:
- should we also include the MSAL.java library  or not?
- does it work with MS Authenticator? If so, what should we choose as redirect uri. For our Xamarin apps on Android we have the package name+signing hash format  to work correctly with

[2020-07-16 17:56] Neotrixsx commented on #39
I found out the reason for the issue. This issue occurs because of Slow internet connectivity

[2020-07-16 17:56] #39 closed, assigned to nobody

[2020-07-17 15:45] dougmolineux opened #46 "How to reference plugin from typescript"
Hi there! First of all, thank you for this plugin,

I am having trouble running this code:

[code]
It tells me
[code]
I have tried to just omit `window`, and then import cordova like:
[code]
But it really doesn't seem to like that, what am I doing wrong here? Thank you!

[2020-07-17 16:34] #46 closed, assigned to nobody

[2020-07-27 17:03] mjboouuu opened #47 "How to Add Multiple Scopes on the var options = {scopes:['']}"
Hi I am currently integrating azure AD to a cordova mobile application with angularJS framework. I am able to successfully implement it with one scope, but I am encountering issues on adding another one.

options = {scopes:['scope1', 'scope2']}

can you please help us with this? thank you.

[2020-08-02 13:08] aplongh opened #48 "Any chance of an Ionic Capacitor version of this plugin?"
Hi Walter, first of all, thank you for this great plugin. I've managed to integrate it into a capacitor project, manually changing the required variables (clientId, Android SHA1, tenant, etc.). Even though it works great, this means we have to "re-wire" every time there is a local npm install, but we have not found a way to replace the variables when using CI/CD. So when the CI/CD pipelines issues

[2020-08-02 16:33] aplongh commented on #37
My team did manage to integrate this plugin with Angular9, Ionic and Capacitor. However the process is extremely manual and gets "broken" each time an npm install is executed (for example, in a CI/CD scenario).

The process is as follows:
1. instead of "ionic cordova plugin add cordova-plugin-msal....", justo do plain old "npm install --save cordova-plugin-msal"
2. open plugin.xml file in "./node_

[2020-08-07 17:17] wrobins commented on #38
Hello and thanks for your feedback!

 This is planned for v3 of this plugin. I apologize for the slow pace of development these last two months but my day job has been pretty crazy and I've had to devote a lot of hours to it. But windows (and browser/javascript) support will be here soon.

[2020-08-07 17:27] wrobins commented on #48
Hello and thanks for your feedback!

I'd be happy to add support for Capacitor to this plugin. I can't promise you it will be soon as in the next few days as my day job has had me working some long hours lately (it's rewarding so I don't mind!), but I'll try to snag this before I start working on some of the larger v3 features.

Cheers!

[2020-08-07 17:31] wrobins commented on #47
Hello!

Are you seeing any exception being thrown or logged when this happens? If so, could you paste it here to help me understand what might be happening? Remember to double check it and remove any sensitive information before pasting it here.

Best,

[2020-08-07 17:35] wrobins commented on #40
Hello!

Sorry about the long wait, but my day job has been kind of crazy lately (it's rewarding so I don't mind! But it has taken a lot of hours).

- It will automatically include the MSAL java library as part of the build process, so you don't need to include it separately.
- It does work with the Authenticator app. In your options object, set: brokerRedirectUri: true and you should be good to go

[2020-08-26 12:22] alcantaramark opened #49 "Cannot find MSAL/Msal.H"
Hello, having some issues when used this plugin. I cannot run on Xcode saying that MSAL/Msal.h is not found on the import. Thanks!

[2020-09-02 02:59] fatbone008 commented on #49
the same problem

[2020-09-09 13:29] bhandaribhumin opened #50 "Help request to build MSAL capacitor plugin"
Hi @wrobins I try to build MSAL capacitor plugin. if you have some time to look into my repo please help.
I am stuck at "webviewParameters: webViewParameters" which use viewController I tried viewController: bridge.viewController but I got error. please clone my repo and please please take a look.
[MSAL capacitor repo](https://github.com/bhandaribhumin/msal-capacitor-plugin)
[NPM Package](https://

[2020-09-09 15:08] bhandaribhumin commented on #48
@wrobins need some help to pass webparameter https://github.com/bhandaribhumin/msal-capacitor-plugin

[2020-09-09 19:03] aplongh commented on #48
Hi Walter, we managed to make it work with Capacitor. If you'd like, I can
share the approach we took to make it work.
Regards, Ariel

On Fri, Aug 7, 2020 at 1:27 PM Walter Robins <notifications@github.com>
wrote:

[2020-09-09 19:07] bhandaribhumin commented on #48
@aplongh if you need some help just let me know, happy to contribute 👍

[2020-09-09 19:18] aplongh commented on #48
Hi Bhumin, we managed to make it work with Capacitor, although I'm not sure
it's the best approach, as there is some configuration that must be made
manually. The good news is that it works perfectly. They way we managed to
make it work is the following:

1. npm install --save cordova-plugin-msal
2. npm install ionic-msal-native --save
3. add the following in capacitor.config.json, in the "cordova

[2020-09-09 19:19] aplongh commented on #48
This is what we did to make the plugin work with Capacitor. It involves
several manual steps, but it works like a charm. Thanks again for your
marvelous plugin.

1. npm install --save cordova-plugin-msal
2. npm install ionic-msal-native --save
3. add the following in capacitor.config.json, in the "cordova" section:
    "preferences": {
      "tenantId": "common",
      "clientId": "8da01b18-ca25-4

[2020-09-09 19:32] bhandaribhumin commented on #48
@aplongh thanks so much for your great workaround steps,
 Do you have an idea how to pass  webViewParameters?

[parameters = MSALInteractiveTokenParameters(scopes: kScopes, webviewParameters: webViewParameters)](https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc/blob/master/MSALiOS/ViewController.swift)

[2020-09-09 20:20] aplongh commented on #48
Sorry, not at all. We come from an Angular background, so making the shift to Ionic was quite easy. But we stick to web technologies (Angular, Ionic, Bootstrap, Material Design, etc.). We have no experience in native device coding.

[2020-09-18 10:46] baeteja commented on #48
Any insight on when and if there will be support for ionic react (capacitor)?
Also, what would be the best current workaround for someone who has no native development experience?

[2020-09-28 15:31] jenniferestrada opened #51 "How to add access scopes for APIs"
Hi Team-

Can someone help me understand how to add access scopes for APIs to this code?  I have tried adding scopes via the **scopes** array, the **protectedResourceMap** (as in other instances of MSAL) and the **otherScopesToAuthorize** array as shown in the screen shot below.  In my token, the scopes are always applied towards the MS Graph API in each case.
Can you tell me the correct way to ad

[2020-10-02 06:10] jeffortdev opened #52 "brokerRedirectUri"
Hi, I set brokerRedirectUri to true, but nothing happened, the success nor fail callbacks did not trigger. if it is set to false, everything works fine.

I installed the plugin as indicated.

Here are my options
`            authorities: [
              {
                type: 'AAD',
                audience: 'AzureADMyOrg',
                authorityUrl: '',
                cloudInstance: 'MSALAzu

[2020-10-02 06:16] jeffortdev commented on #49
I used cordova 10 and cordova-ios 5.1.1 to resolve that error.

[2020-10-05 13:19] fchamieh commented on #49
same here, resolved with cordova 10, cordova ios ^6

[2020-10-08 12:27] ivarvh commented on #51
I have the same issue

[2020-10-08 13:43] keshavvvv19 commented on #49
Could you please help am getting msal.h file not found. Is it mandatory to use cordova10 or is there any other way to resolve it

[2020-10-13 11:33] jeffortdev commented on #49
I don't think there is another way, I've tried this using cordova 9 and got the same error.

[2020-10-14 12:46] jeffortdev commented on #52
Closing this, turns out setting brokerRedirectUri wont work on debug and app should be wrapped by Intune wrapper.

[2020-10-14 12:46] #52 closed, assigned to nobody

[2020-10-15 07:49] jeffortdev opened #53 "return id_token"
is there a way to return id_token ?
using implicit flow I managed to get that by adding response_type = "id_token token" so it will return both access and id tokens.

[2020-10-16 08:18] ivarvh commented on #51
In the meanwhile I have solved my issue, let me know if you are still looking for an answer.

[2020-10-17 00:55] user519253047566 commented on #51
Hi @ivarvh - may we know how did you solve your issue?

[2020-10-20 11:00] ivarvh commented on #51
In our case we had to set the authorityUrl and we had to set the scopes to ['<client-id>/.default']

[2020-10-29 14:44] zzmmbb commented on #48
Hello, I tried to introduce it to the ionic5 capacitor, but the prompt cordova is not defined can you guide me how to correctly introduce this plug-in?

[2020-11-24 05:06] ajs-atkinson commented on #47
Hello @wrobins,

I am having a similar issue but related to scopes on different resources.

I need to authenticate using one resource scope then obtain an access token for a different resource (api for organisation in this case).  As stated here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-user-gets-consent-for-multiple-resources
"The Microsoft identity platform endpoi

[2020-11-26 11:33] bolivir opened #55 "Dynamic Tenant ID"
Is there any to use an dynamic tenant ID? As far as i have seen in the code the tenant id will always be from the package.json config and cannot be set on init.

The problem:
Our app gets used by different companies, those can enable azure login where they provide the tenant id. So we dont know the tenant id before and therefore we need to set it in the code behind.

I modified the MsalPlugin to c

[2020-12-09 08:18] sebo-o commented on #55
I would very well be interested as I need a dynamic tenant ID and client ID. Please open a PR and share your code. Thank you!

[2020-12-21 11:26] laughinglion opened #58 "How to specify the reply URL?"
Good day,
The reply URL specified in the request does not match the reply URLs configured for the application: 'xxxxx'
How do I supply it or what do I set in the Azure portal?

[2021-01-11 13:03] poulerik-dk commented on #58
If its android, ensure that you have configured your key-hash properly, add it as android and use your package name + your hash

[2021-01-13 07:33] soundar24 opened #60 "plugin was not working in Android"
While integrating the plugin into our Cordova application and triggers the signIn, it doesn't works in the Android. Simple it throws the below error always even I already initialized the msal.

![image](https://user-images.githubusercontent.com/8916666/104420076-5807cf80-559f-11eb-9136-6eb9aaca593d.png)

But the same was working in iOS, and the login screen was initiated.

I am not sure whether an

[2021-01-13 12:18] Neotrixsx opened #61 "Getting Installation error in iOS platform"
Hello,
When I try to install the MSAL plugin in my Cordova app I get an error.

Cordova info:
cordova-lib@9.0.1 with:
  cordova-common@3.1.0
  cordova-create@2.0.0
  cordova-fetch@2.0.1
  cordova-serve@3.0.0

Environment:
  OS: darwin
  Node: v12.16.1
  npm: 6.13.4

iOS platform:
  Xcode 12.0.1
  Build version 12A7300

Please help me.:)

[2021-01-13 12:42] laughinglion commented on #58
Thank you for response and a great plugin, I have configured it correctly now and all is working.

[2021-01-13 12:42] #58 closed, assigned to nobody

[2021-01-13 15:39] Neotrixsx commented on #61
I fix this issue by running

sudo gem install -n /usr/local/bin cocoapods

[2021-01-13 15:39] #61 closed, assigned to nobody

[2021-01-17 06:53] blackeagle1111 opened #62 "OpenId Provider Configuration metadata failed to load with status: 404 Android"
Hi all,
I am trying to integrate this library, but I cannot get it to work as expected.
"cordova-plugin-msal": "^2.5.0",
"ionic-msal-native": "^0.1.0",
My current setting:

`options: any = {
 client_id: "[client_id]",
authorizationUserAgent : "DEFAULT",
redirect_uri: "msauth://[appid]/6FYh01XNTEyXhtp64rz5FV5gIpA%3D",
authorities: [
	{
		type: 'B2C',
		audience: 'AzureADMyOrg',
		authorityUrl: "htt

[2021-01-27 17:27] laughinglion opened #63 "Why is android.permission.READ_CONTACTS needed?"
Not a big issue, just wondering why the permission android.permission.READ_CONTACTS is needed.

[2021-01-28 21:29] wrobins commented on #63
Hello and thanks for your question!

Whenever getAccounts() is invoked or any other situation where the MSAL library needs to get existing Microsoft accounts saved on the user's device, it has two ways of doing it (or only one way if you haven't configured it to use a broker redirect). The first is it tries to use the Microsoft account broker, which in most cases is the Authenticator app. If that

[2021-01-28 21:29] #63 closed, assigned to nobody

[2021-02-03 11:49] orjandh opened #64 "Subfields of authorities does not inherit from defaults"
The options parameter object has some default values, but if you pass an incomplete object to the authorities array, it will not inherit from the default values and will fail silently.

`const options: any = {
        authorities: [
          {
            type: 'B2C',
            authorityUrl: '<placeholder>'
          }
        ]
      };`

The json provided above does not have the audience entr

[2021-02-10 21:57] #64 closed, assigned to nobody

[2021-02-11 15:58] HristoStoevZ opened #68 "How to switch policies ?"
I have a B2C configured for android, and I would like to be able to specify which policy I am using on a specific action.
Seems that for now in order to change the policy,  I have to run msalInit with the new configuration of the authority url . Is there any other way ? It will be great if I can pass a number or a kind of a key of the authority with which I would like my explicit login to be execu

[2021-02-11 17:11] KiranSuresha commented on #49
Resolved by removing and adding cordova to the project, cordova 10.0.0 and cordova-ios 6.2.0

[2021-02-16 16:14] azulian-altevie opened #69 "Cannot log out on ios"
Hi.
first of all thanks for your work. This plugin is a real life saver.
I don't know if this is the right place to raise a question but here I am.
Secondly, I cannot log out of IOs. I have configured it with a single account so I dont pass the user ID but it's not logging out.
thanks

[2021-02-16 20:33] azulian-altevie commented on #69
Hi.
I solved. I could log out using the prompt option in advanced settings. I didnt read that part partly because i didnt think i needed it but mostly because i'm dumb.
It's clearly written there that microsoft will log the user again even if the cookies were cleared (I really don't think it's the most intuitive behaviour.
If you ever read this thank you very much for this plugin.

[2021-02-16 20:33] #69 closed, assigned to nobody

[2021-02-21 13:55] fjulia opened #70 "different redirect URIs in different platforms"
Redirect URI that is set by default seems to be different depending on the platform (IOS or Android).
In IOS it is set as:
`... redirectUri:[NSString stringWithFormat:@"msauth.%@://auth", ...`

And in android as:
`... "redirect_uri\" : \"msauth://" + MsalPlugin.this.activity.getApplicationContext().getPackageName() + "/" + keyHashUrlFriendly + "\",\n"...`

It took me some time to find out. I could

[2021-02-22 14:06] wrobins commented on #70
Hello!

Yep, definitely confusing stuff and it took me a while to figure it out when I was developing the platform, but by default, when you set up your integration in your Azure portal and select Android and/or iOS, it's expecting to get a redirect URI after sign-in in the following formats:

**Android**
msauth://<yourpackagename>/<base64urlencodedsignature>
**iOS**
`<scheme>`://[Your_Bundle_Id]

[2021-02-22 19:01] felipechagas commented on #60
Same problem here! Anyone?

[2021-03-01 19:55] mfbhatt opened #71 "Azure Guest account login"
I am having environment where we have enabled guest login for third party vendors in Azure AD. Authentication is working fine for my organisation but it fails for Guest users. I am getting "Your account or password is incorrect. if you don't remember your password reset it"

Can you please help to resolve the issue.

[2021-03-02 12:48] alexw-at opened #72 "iOS signInSilent does not work"
signInSilent always gives me the error "No accounts found on device" even after a successful signInInteractive. This only happens on iOS on Android signInSilent works fine.

[2021-03-03 08:48] orjandh commented on #68
I also think this is needed. I started working on this in a new branch https://github.com/orjandh/cordova-plugin-msal/tree/switch_policy. It seems to work and lets me specify which policy I would like to run. My change is currently only scoped to Android and single user mode.

I don't know what would be the best interface for this. Maybe what we actually want is a new function that can run any pol

[2021-03-03 15:24] ghost opened #74 "Auth Results not returning"
Currently this plugin in only returns the accessToken and not the entire Auth Results. Is there anyway this can be modified in the delegate commands so it returns entire results on both silentSignIn and interactiveSignIn?

[2021-03-04 19:04] MattCampbell801 opened #75 "preference value not resolving but set in package.json"
Hi there,

I'm getting the following issue and my thinking is that for some reason the preference values are not resolving:
Sign-in error

![image](https://user-images.githubusercontent.com/53167567/110015865-0d980900-7d2d-11eb-943e-cc562446df85.png)

(in case the image doesn't show)
Application with identifier '$CLIENT_ID' was not found in the directory 'myDirectory'

I successfully get directed

[2021-03-05 01:27] DanielTokyo opened #76 "signInSilent method randomly returns an array instead of an object"
Hi, I've created an Android Cordova app based on an Angular 11 SPA. I am calling the `signInSilent` method from my SPA's HttpInterceptor to get a token to pass to my API. This usually works normally the first time, but then it starts randomly giving me an array as a response when invoked.

This is my configuration (I removed the API ID):
[code]

Normally I get this kind of result:
[code]

But then

[2021-03-09 11:46] marutifh commented on #52
Hi @jeffortdev Can you please help me in understand how to wrap app by Intune wrapper?

[2021-03-10 06:48] sagcalelisha commented on #55
Any news regarding this? I have a deadline on Monday. haha! =P Thanks!

[2021-03-16 05:31] Digital-Chen commented on #49
I upgraded an existing Ionic project to cordova 10 and cordova-ios 6.2 but I still don't find MSAL.h. Any suggestion?

[2021-03-16 12:50] Jetro223 commented on #55
I have the same scenario - a PR would be great.

[2021-03-19 03:13] jeffortdev commented on #52
sorry for late reply, you can checkout the wrapper here https://github.com/msintuneappsdk/intune-app-wrapping-tool-ios then have documentation there explaining that

[2021-03-19 03:14] jeffortdev commented on #49
remove the platform, then add again.

[2021-03-19 16:26] mfbhatt commented on #51
Hello @ivarvh I tried setting the scopes to default and I am getting following error.

ERROR: Server returned less scopes than requested
Can you please let me know what can be the issue.

[2021-03-19 16:26] #71 closed, assigned to nobody

[2021-03-19 16:28] Aston13 commented on #49
I am having the same issue, anyone found a solution?

Have updated to Cordova@latest and cordova-ios@latest, removed/added the platform, cordova prepare etc. and the issue persists

[2021-03-22 07:24] Aston13 commented on #49
![image](https://user-images.githubusercontent.com/23441191/111954098-dfb21300-8ae7-11eb-9c34-66f08210b6b9.png)

Does anyone else have this output from CocoaPods after install? possibly could be related

[2021-03-22 08:32] Digital-Chen commented on #49
In my case, I had ms-adal in the project and apparently it caused conflict. I couldn't remove it by uninstall command so I manually deleted it from node modules, and then reinstall cordova-ios. The error suddenly went away. There were a couple of other steps I took in the generated project but I am sure you can figure those out easily.

[2021-03-22 14:45] ryandegruyter opened #77 "Plugin does not trigger brokered authentication"
Hello, thanks for the great plugin, but for some reason it does not redirect to Microsoft authenticator or company portal to log the user in, any idea why?

[code]

I followed the iOS setup guide step by step. (https://github.com/AzureAD/microsoft-authentication-library-for-objc#adding-msal-to-your-project)

[2021-03-23 11:25] Aston13 commented on #49
The issue is fixed for me now, it was because I was opening the .xcodeproj and not the .xcworkspace! took me too long to figure that out :'D

[2021-03-23 12:25] Aston13 commented on #55
I also have the same issue

[2021-03-24 11:22] mfbhatt commented on #51
Hi
I am also facing the same issue. Could you please help if you have resolved it.

Thank you.

[2021-04-01 01:15] wan-liyang opened #78 "Application is not configured as a multi-tenant application"
Hi,
when i try the Demo in outsystems application, and integrate with Azure (supported account types: Single tenant)
then encounter below error. if I change supported account types to Multitenant, then it work.

how can i make it work for Single tenant also?
I have tried
e.g.

1. pass AuthorityUrl: https://login.microsoftonline.com/[tenant-id] to MSALInit
2. change AccountMode to Single / Multiple

[2021-04-02 05:59] #78 closed, assigned to nobody

[2021-04-02 05:59] wan-liyang commented on #78
Solved my case

[2021-04-11 13:54] eyalshani commented on #53
hi, is there any update on how to retrieve the id token ?

[2021-04-26 09:30] haveji88 opened #79 "sample cordova project will help"
Hi Walter,

Please create a sample cordova project using this plugin , this will help a lot.
I am trying to migrate from MS-ADAL to MSAL for authentication.

[2021-05-13 16:31] exlmobility commented on #49
hi can you please tell me which version of ios and cordova you are using

[2021-05-13 16:34] exlmobility commented on #49
hi can you please tell me which version of ios and cordova you are using

[2021-05-14 05:44] #62 closed, assigned to nobody

[2021-05-17 14:30] ryandegruyter commented on #78
@wanliyang9012 how did you resolve your issue?

[2021-05-17 14:36] wan-liyang commented on #78
@ryandegruyter , i manual define the MSALAuthority object and pass in MSALInit for `Authorities` input parameter

[code]

[2021-05-17 14:38] ryandegruyter commented on #78
Thank you

[2021-06-15 13:40] marutifh commented on #77
Hi @ryandegruyter

I am running into similar issue, did you find any alternative to have broker authentication?

[2021-06-16 13:50] ryandegruyter commented on #77
Hi @marutifh I haven't found a solution as of yet. I will let you know when I do.

[2021-06-16 21:47] mustay commented on #35
Hi,

Facing the same issue and your suggestions above dont resolve it. Been trying to debug it for days now. It just keeps on sending me to login.microsoft and serves the generic page without my custom IDP

Below is my options object

[code]

If you could please help.

[2021-06-17 06:15] nagendra-devireddy opened #80 "device id is not passed to Azure AD with MS Intune (error we are getting error Set Up your device to get access)"
Hi All,

I'm having some issues trying to authenticate my users via the Microsoft Intune app. The problem is that even though the users have complaint device on the Intune app, every time that they try to sign in they are still prompt to install the Intune app as if the app was completely unable to communicate with Intune and verify that the user actually has all the permissions required to go thr

[2021-06-17 09:27] aaayush007 commented on #77
Hi @ryandegruyter , did you found out any solution on this, if yes please let me know.
I'm also stuck on this. Thanks in Advance !

[2021-06-17 20:27] epiphanizer commented on #60
I was running into the same thing when setting flag "brokerRedirectUri: true".

Normal function occurred with that config value set to false.

[2021-06-17 21:01] mustay commented on #35
Figured it out. For anyone else facing this, audience param is required.

[2021-06-23 22:22] judefelixantony opened #81 "Need MSAL Cordova which is compatibility with Cordova version 6.5.0"
Since our mobile application are running on Cordova 6.5.0.  Please give me a version which will be working with Cordova 6.5.0.

Need your help on this.

Error : Plugin doesn't support this project's cordova version. cordova: 6.5.0, failed version requirement: >=7.0.0

Thanks,

[2021-06-28 22:17] VinyP commented on #48
Has anyone successfully implemented this in Ionic 5 with capacitor?

[2021-06-30 10:45] CarlosDez23 commented on #37
Hey! Is there any update on that? Ariel, could you send me a picture of your plugin.xml file? Thanks!!

[2021-07-01 08:44] orjandh commented on #63
Curiously enough, when I remove the permission, the login system seems to work fine. But I don't know if there will be any problems down the line. Also the documentation suggests that the AccountManager.getAccounts() needs the GET_ACCOUNTS permission and not the READ_CONTACTS permission.

[2021-07-02 16:56] aplongh commented on #48
@VinyP, absolutely. With the help of Josh Morony, we were able to integrate the plugin seamlessly with Capacitor 2.0 and trying it out with Capacitor 3.0. I'm a bit overwhelmed right now with work, but will share the procedure to make it work as soon as I have some time.

[2021-07-05 19:09] VinyP commented on #48
@aplongh Fantastic! I've been pulling my hair trying to get this to integrate with Cap 3.0.

Will the plugin allow user to sign-in by entering their credentials and redirects back to app?

[2021-07-08 09:33] divakarlasrinivas commented on #51
I am also facing the same issue.

[2021-07-16 06:59] trpraveenreddy commented on #77
Hi @ryandegruyter Did you find any solution for this? We are running into similar issue?

[2021-07-16 07:00] trpraveenreddy commented on #80
Hi @nagendra-devireddy  Did you find any solution for this? We are running into similar issue? Thank you

[2021-07-16 08:00] nagendra-devireddy commented on #80
Nope. we are planning to use https://ionic.io/products/auth-connect

[2021-07-19 10:24] trpraveenreddy commented on #70
@wrobins
When the RedirectURI is set to true, the plugin returns an error: "msalinit() is not initialized". Is there a way to solve this? Thank you.

[2021-07-26 04:18] muditpant-ally commented on #80
Hi @nagendra-devireddy did using https://ionic.io/products/auth-connect solved your issue ?

[2021-08-06 15:08] robsierra opened #83 "Return Types not as Documented using ionic-msal-native"
Good Morning,

I'm using your plugin in conjunction with ionic-msal-native and the return types aren't as expected. As opposed to what is outlined here https://github.com/wrobins/cordova-plugin-msal#response-object signInInteractive() returns just the token and signInSilent() returns just the user id. As far as I can tell [ionic-msal-native](https://github.com/binaryops-wiebo/ionic-msal-native/blo

[2021-08-08 19:13] micro0o commented on #48
@aplongh Could you please share how did you integrate this with Capacitor 2.0
Thanks

[2021-08-08 19:13] micro0o commented on #48
@aplongh Could you please share how did you integrate this with Capacitor 2.0 or 3.0
Thanks

[2021-08-25 04:00] ronakpatel17 commented on #55
@bolivir I also have the same scenario. Can you please add a PR or provide changes done by you for this. Thank you in advance!

[2021-09-27 07:51] ronakpatel17 commented on #35
@mustay My application is working fine for ios, But for android I am getting below error after closing and reopening the application.

"No cached accounts found for the supplied homeAccountId and clientId"

Do you have any idea? How can I solve it?

Thanks in advance!

[2021-10-06 01:48] daveywc commented on #48
I'm using Capacitor 3.0 with Ionic and Angular 12.1.  I found that I needed to use this updated version of the ionic native plugin for things to work:  https://github.com/orjandh/ionic-msal-native

[2021-10-12 01:53] daveywc commented on #72
@alexw-at - did you ever resolve this issue on iOS - I am getting the same behaviour in an Ionic app using this plugin.  Like you say it works as expected on Android.

[2021-10-15 18:12] dbarn commented on #47
Hi, I'm having the same issue as ajs-atkinson and would love to know if anyone has found a solution.
Thanks!

[2021-10-17 17:38] dbarn commented on #51
Hi I'd really like to be able to do the same thing.
I need to be able to acess the graph and also our own APIs.
Bascially I need to be able to access multiple scopes. I know this means getting multiple tokens but Im not sure how to get the other token

[2021-10-17 17:39] dbarn commented on #51
I'd like to understand how you did this.

[2021-10-18 03:53] jeffortdev commented on #80
I think you need to use brokered authentication for the plugin to pass the deviceID.

[2021-10-18 04:20] jeffortdev commented on #77
Is your app wrapped by MAM? https://docs.microsoft.com/en-us/mem/intune/developer/app-wrapper-prepare-ios

[2021-10-18 14:10] bradical1379 commented on #80
Try setting your `authorityUrl` to `''` since you are using `AAD`.

https://github.com/wrobins/cordova-plugin-msal#authorityurl

[2021-10-18 14:32] ryandegruyter commented on #77
Integrating the SDK instead of using the wrapper did help.
Eventually, we decided to go for https://ionic.io/integrations/microsoft-intune plugin, for the support and we don't want to be bothered by platform updates.

[2021-10-19 08:12] mfbhatt commented on #51
I am not using the graph api. once authentication is done I get the OID filed and I use that in the application. I only use single scope to read my api.

[2021-10-19 08:25] dbarn commented on #51
Ok we have found the solution. It's brutal but it works:

document.addEventListener('deviceready', onDeviceReady, false);

function onDeviceReady() {
    // Cordova is now initialized. Have fun!

    console.log('Running cordova-' + cordova.platformId + '@' + cordova.version);

    if (typeof (cordova.plugins.msalPlugin) !== "undefined") {

        let options = {
            authorities: [

[2021-10-19 08:27] mfbhatt commented on #51
Thank you very much. It will surely help many people

[2021-12-08 23:30] #55 closed, assigned to nobody

[2021-12-15 13:21] rudi-minty opened #85 "Supplying CLIENT_ID at runtime"
Is it possible to not supply the CLIENT_ID when adding the plugin but rather at runtime when the plugin is initialised? Our app needs the ability to link to a clients own azure tenant, which cannot be supplied at development time.

[2021-12-16 09:30] ambal1330 opened #86 "Azure login not working - Unable to open the Login popup"
HI,

We have created a Cordova app with Framework 7 version 2. Working on enabling Azure MFA authentication, Installed the Codova-plugin-msal. Given below configuration. Gave the tenent_id, cliend_id & Signature has value during the plugin installation. Still it is not working MSALInit is not working, Please help me on this  .

var defaultOptions1 = {
            authorities: [
                {

[2021-12-20 04:30] ambal1330 commented on #86
@wrobins  could you please help on this query

[2021-12-20 15:00] wrobins commented on #85
Hi @rudi-minty,

I've seen this request a few times, and I would indeed like to support that as it would be very useful. At first, the Android MSAL library did not support doing that, as the Client ID had to be inserted into the app manifest at compile time. It's always been my philosophy that Cordova plugins should function as identically as possible across platforms, so I've tried to make a stan

[2021-12-20 15:00] #85 closed, assigned to nobody

[2021-12-20 15:03] wrobins commented on #86
Hi @ambal1330,

Sorry this is giving you trouble! Would you mind sharing what platform you're running (Android or iOS) and any error that MsalInit() is giving you?

Thanks for your patience and hopefully we can figure out what's going on!

[2021-12-20 19:13] rudi-minty commented on #85
Thats great news, thanks @wrobins!

[2021-12-22 07:30] ambal1330 commented on #86
@wrobins
We have android & IOS . But currently trying in Android.
I am not getting any error in msinit()

But in signInInteractive function getting be low error.

it is giving that "No configuration has been set yet"

![image](https://user-images.githubusercontent.com/33049471/147049562-07fc1214-1528-47cc-9e43-880131694b8a.png)

[2021-12-27 05:06] ambal1330 commented on #86
@wrobins  can you help me on this?

[2021-12-30 07:10] Kirill-code opened #88 "No such file or directory, open 'platforms/browser/browser.json'"
Hello, please help solve this issue:

[2021-12-30T06:53:31.907Z] [ERROR] [Build] ENOENT: no such file or directory, open 'platforms/browser/browser.json'
[2021-12-30T06:53:31.907Z] [ERROR] [Build] Build failed with the following error: Something happened on our side while generating your app. Please try again.

I cannot build .apk file in Outsystems with latest master branch.

BR, Kirill

[2022-01-03 13:02] a619sachin commented on #86
Same issue, msalinit just getting skipped and not getting any errors.

[2022-01-04 03:39] a619sachin commented on #86
@ambal1330 can you show the list of plugins used in your cordova project? I think some other plugin is causing the issue.

_**Edit**: @wrobins I tested using a sample app installing plugins one by one, I found issue with deeplink plugin if I add the deeplink `<universal-links> host url </universal-links>`, msal won't work. Plugin : https://github.com/e-imaxina/cordova-plugin-deeplinks_

[2022-01-04 03:41] a619sachin commented on #86
@wrobins and @ambal1330 I have these plugins installed

**cordova plugin ls**

1. call-number 0.0.2 "Cordova Call Number Plugin"
2. com.borismus.webintent 1.0.0 "WebIntent"
3. com.phonegap.plugins.fileopener 1.0.0 "File Opener"
4. cordova-plugin-android-permissions 1.1.2 "Permissions"
5. cordova-plugin-androidx-adapter 1.1.3 "cordova-plugin-androidx-adapter"
6. cordova-plugin-androidx 3.0.0 "cordo

[2022-01-07 05:53] ambal1330 commented on #86
@wrobins  I am using plain instance having only below Plugins

![image](https://user-images.githubusercontent.com/33049471/148498599-4ec1c347-e692-4e2a-9cf6-fd7959d3d5f3.png)

[2022-01-11 04:33] ambal1330 commented on #86
@wrobins  please help on this

[2022-01-19 07:57] MauriceSchoenmakers commented on #88
so i was missing the
plugins/cordova-plugin-msal/src/browser/msal-browser.min.js
plugins/cordova-plugin-msal/src/browser/MsalProxy.js

browser files until i added the cordova-browser dependency...

maybe different but maybe related to #88

[2022-01-20 00:29] jdipallo opened #90 "signInSilent/signInInteractive returning only token, not the response as documented"
Hello:

Your documentation is very clear regarding the Response we should expect from successful calls to both signIn[Silent|Interactively]:
{
    token: 'eyJ0eXAiOiJKV1QiLCJub...',
    account: {
        id: 'abc-someguid-123',
        username: 'wrobins@myemailaddr.com',
        claims: [
            {key: "name", value: "Robins, Walter"},
            {key: "ver", value: "2.0"},
            { ..

[2022-01-21 18:08] jdipallo commented on #90
@wrobins if possible, can you please help on this? Thank you.

[2022-01-26 20:44] jdipallo opened #92 "Meteor mobile_config.js file to configure TENANT_ID and CLIENT_ID"
Hello:
I am using Meteor JS 2.2. When adding a Cordova plugin, one cannot pass in variables when adding/installing the plugin. Any variables needed such as CLIENT_ID/TENANT_ID go into a file at the root of the project named mobile-config.js. The syntax is this:

App.configurePlugin('cordova-plugin-msal.msalPlugin', {
  CLIENT_ID: 'b50e6a4c-a9c9-4668-a49f-16a64f038adc',
  TENANT_ID: '36226acb-be98-

[2022-01-26 20:44] jdipallo commented on #92
@wrobins - tagging you. Thanks for making this plugin available.

[2022-02-01 05:40] rudi-minty commented on #85
Good day @wrobins, I've gone through the commits but dont see this change yet, just wanted to check in to make sure I did not miss it. Hope to hear from you soon.

[2022-02-24 14:33] Horbee commented on #90
@jdipallo  The same thing happens to me as well. I am not sure if it is still helpful for you, but I tried to do something similar as a workaround:

[code]

[2022-02-24 16:57] jdipallo commented on #90
@Horbee: yes, that is what I implemented. Works fine, just an extra call. I see in the Alpha version of this plug-in, this is seems resolved. Although, it's been in alpha for quite a while. Thank you.

[2022-03-01 08:50] a619sachin commented on #86
Hello, does anyone know the workaround for this issue?
@wrobins  @@peitschie @kratz00 @ambal1330

[2022-03-01 09:47] peitschie commented on #86
@a619sachin are you using the current master, or the (quite old) package released on NPM?

[2022-03-01 11:02] a619sachin commented on #86
@peitschie I installed using CLI.

[2022-03-01 11:06] peitschie commented on #86
@a619sachin try using master instead: `cordova plugin add https://github.com/wrobins/cordova-plugin-msal.git`

[2022-03-01 11:09] a619sachin commented on #86
@peitschie Okay, will try it.

[2022-03-01 11:21] a619sachin commented on #86
@peitschie Got this while running the project
`Discovered plugin "mx.ferreyra.callnumber". Adding it to the project
Plugin "call-number" already installed on android.
Plugin "call-number" already installed on ios.
[Gradle Properties] Detected Gradle property "android.useAndroidX" with the value of "true", Cordova's recommended value is "false"
[Gradle Properties] Detected Gradle property "android.

[2022-03-03 04:46] a619sachin commented on #86
@peitschie please help

[2022-03-03 10:23] a619sachin commented on #86
@peitschie tried it, still same issue.

[2022-03-09 12:45] NaveenK15 commented on #38
@wrobins  any update on the same? has the windows support been added yet?

[2022-04-04 05:18] ambal1330 commented on #86
HI All, Any update on this issue.

[2022-04-05 07:22] a619sachin commented on #86
No, I used other plugin. That's the only workaround I found.

[2022-04-06 10:30] ambal1330 commented on #86
@a619sachin  What is the another plugin?

[2022-04-11 01:10] peitschie commented on #86
@ambal1330 do you have any allowed intents annotated in your `config.xml`? The SSO pattern that MSAL uses launches an external `http` request I believe, so you probably need to allow the intent through so cordova enables the external browser to launch.

See https://cordova.apache.org/docs/en/11.x/guide/appdev/allowlist/index.html#intent-allow-list

To test this (do NOT use this in production, as i

[2022-04-18 19:58] SiliconStreetDev1 opened #94 "How long is the refresh token lifetime"
Hi , What would be the life time of the Refresh Tokens. 24 Hours like the MSAL2.js or is it the standard 90 days ?

[2022-05-02 06:51] peitschie commented on #68
@wrobins out of interest, is something like this on your radar still? If I raised a PR based off @orjandh and did some testing and such, is there a possibility we could land a feature like this in master?

I'm asking as one of the applications I support is about to require this capability, and I'd love to get it mainlined if possible 😃

[2022-05-03 11:57] ghost opened #95 "Invalid Code Signing Entitlements"
Hi and thanks for this great plugin!

For me it is working very well when I built my applications for Android and IOS. Unfortunately I get an error when I am trying to upload an App to the AppStore with this built in plugin:

"Invalid Code Signing Entitlements. Your application bundle's signature contains code signing entitlements that are not supported on iOS. Specifically, value '<MYTEAMID>.<MYB

[2022-05-12 09:21] a619sachin commented on #86
cordova-plugin-ms-adal-b2c-patch

[2022-06-13 12:33] swathi2378 commented on #55
@bolivir I have the same scenario. Could you please provide the changes need to implement

[2022-06-22 09:52] toveram commented on #51
@dbarn - Above solution not working. I have 5 API and each need different tokens. Please help me on this.

[2022-06-22 11:53] toveram commented on #47
Is any solution available? Please share if already solution found.

[2022-06-23 21:30] jdipallo commented on #60
What if you need brokerRedirectUri set to true?

I am running into the same issue.

Thanks

[2022-06-23 21:50] epiphanizer commented on #60
@jdipallo We've had an app unable to deliver for almost a year now. I haven't figured it out as of yet, and our company is electing to just hide MSAL for the time being until we / I figure out a fix for it. Glad you are having issues too as it makes me feel less dumb, but not a solution.

[2022-06-23 21:54] jdipallo commented on #60
That’s a bummer. Your not dumb :)

It would help if the creator would at least reply and/or come up with a fix.
I wanted to test it on android because our users uses Azure and they have multiple accounts they are signed into and there were issues when one of their users sessions expired, then they couldn’t logged back in with our app. not sure if the broker thing would fix but at least i wanted to

[2022-06-26 00:08] jdipallo commented on #14
I am experiencing this behavior still. logging out closes the app. not only that, but next time I try to login, I get an azure error about the account not matching the signed in account. thanks

[2022-07-01 04:46] dientn2991 opened #97 "Can not install MSAL plugin for IOS"
Installing "cordova-plugin-msal" for ios throw error
`Searching for inspections failed: undefined method `map' for nil:NilClass`

[2022-07-07 07:51] peitschie opened #98 "Android 12: Browser activity needs exported="true" in order to compile with target SDK version 31"
Android 12 now requires an explicit `android:exported='...'` value to be specified for every service/activity/receiver. According to https://docs.microsoft.com/en-us/java/api/com.microsoft.identity.client.browsertabactivity?view=azure-java-stable, this should be exported so deep links from the browser functions.

Relevant links
* https://developer.android.com/about/versions/12/behavior-changes-12#